*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logo img{
    width: 70px;
    border-radius: 64px;
}

.header{
    padding: 0 32px;
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #eee;
    font-size: 20px;
}

.image-container img{
    width: 500px;
}

.top-page{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 64px 8px;
}

.main-title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 16px;
}

.subtext{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.signup-button button{
    padding: 8px 24px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: 2px solid #3882f6;
}

.information-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.information-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 32px;
    margin-bottom: 32px;
}

.information-img-containers{
    display: flex;
    gap: 32px;
}

.information-img-1, .information-img-2, .information-img-3, .information-img-4{
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 8px;
} 


.information-img-1 img, .information-img-2 img, .information-img-3 img, .information-img-4 img{
    width: 200px;
    height: 200px;
} 

.subtext-1, .subtext-2, .subtext-3, .subtext-4{
    text-align: center;
    margin-top: 8px;
    font-size: 20px;
}

.information-1, .information-2, .information-3, .information-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.quote-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #e5e7eb;
}

.quote-text{
    margin-top: 64px;
    margin-bottom: 64px;
    width: 1000px;
}

.main-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    margin-bottom: 8px;
}

.author-name{
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: end;
}

.bottom-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border: 4px solid #3882f6;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 64px;
    margin-right: 64px;
    padding: 24px 24px;
    width: 1000px;
}

.sign-up-text{
    margin-left: 100px;
}

.sign-up-main-text{
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.sign-up-subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.bottom-signup-button{
    margin-right: 100px;
}

.bottom-signup-button button{
    padding: 8px 24px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    width: 100px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    margin-top: 32px;
}

.copyright-text{
    color: #e5e7eb;
    margin-top: 24px;
    margin-bottom: 24px;
}
